@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


body,html{
    margin: 0;
    font-family: Montserrat;
}
body{
    background-attachment: fixed;
    background-repeat: no-repeat;   
}

@keyframes transx{
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;   
    }
}
@keyframes transx-{
    0% {
        transform: translateX(50px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;   
    }
}
@keyframes transy{
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;   
    }
}
@keyframes trans2y{
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;   
    }
}
#menubar{
    margin: 0;
    display: grid;
    grid-template-columns: 40% auto 60px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 0;
    position: fixed;
    top: 0;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: white;
    height: 56px;
    overflow: contain;
}

#logo{
    object-fit: contain;
    align-items: center;   
    vertical-align: bottom;
    border: none;
    text-decoration: none;
}
#logo img{
    max-width: 150px;
    width: auto;
    align-self: center;
    padding-left: 10px;
    border: none;
    text-decoration: none;
}
.line{
    top: 0;
    width: 40px;
    height: 5px;
    background-color:#018392;
    text-align: center;
    margin: 8px;
}
.burger{
    vertical-align: middle;
    align-content: center;
    text-align: center;
    transform: scale(.75);
    cursor: pointer;
    width: 60px;
    z-index: 2;
    background: white;
    margin: 0 20px 0 0;
}

nav{
    background-color: none;
}
.active{
    position: fixed;
    margin-top: 3px;
    display: block;
    right: 0;
    background-color: #02353ab0;
    z-index: 2;
    width: 60%;
    height: 80%;
    max-width: 200px;
    animation: slide-in .1s linear;  
}
.inactive
{
    display: none;
}
ul{
    display: none;
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
@keyframes slide-in {
    0%   {height: 0%;}
    100% {height: 80%;}
}
ul li a{
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 1.5em 3em;
    text-decoration: none;
    color: #ffffff;    
    border: none;
}
@keyframes text-fade{
    0% {opacity:0%;}
    100%{left:100%;}
}
ul li{
    animation: text-fade 1.5s ease-out ;
}
ul li a:hover{
    font-weight: 700;
    cursor: pointer;
}
#main{
    margin-top: 56px;
}
.slider{
    display: block;
    position: relative;
    margin-top: 70px;
    min-height: 550px;
    right: 0;
    align-items: center;
}
.slidetext h1{
    text-align:center;
    color: #018392;
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 0;
    left: 0;
    animation: transx 1.5s ease;
}
.slidetext p {
    text-align: center;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
    margin-top: 0;
    padding: 0 10px;
    left: 0;
    animation: transy 1.9s ease;
}

.slidepic {
    object-fit: contain;
    overflow-wrap: inherit;
    animation: transx- 1.25s ease-out;

}
.slidetext{
    display: block;
    left: 0;
    padding: 0;
    height: auto;
}

.slidepic img{
    transform: scale(100%);
    ;
}
.cta {
    padding: 0;
    margin-top: 30px;
    text-align: center;
    margin: 0; 
    animation: text-fade 2s ease;       
}
.cta-button{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 164, 210);
    font-weight: 600;
    font-size: 26px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 164, 210);
    padding: .1em 2em;
    text-decoration: none; 
    background: none;
    cursor: pointer;
}

.cta-number{
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 164, 210);
    font-weight: 600;
    font-size: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 164, 210);
    padding: .1em .2em;
    text-decoration: none; 
    background: none;
    cursor: pointer;
}
.callphone{
    display: inline-block;
    width: 30px;
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 164, 210);
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 164, 210);
    text-decoration: none; 
    background: none;
    cursor: pointer;
}
#scrolldown{
    margin-top: 2em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 140px;
    background-size: cover;
}
.scrolldown{
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);
}
.scrolldown span{
    position: absolute;
    top: 0;
    left:0;
    display: block;
    width: 100%;
    height: 100%;
    border-bottom: 2px solid rgba(0, 165, 210, 1);
    border-right: 2px solid rgba(0, 165, 210, 1);
    animation: animate 1.5s linear infinite;
    opacity: 0;
}
.scrolldown span:nth-child(1){
    transform: translate(-15px,-15px);
    animation-delay: -.4s;
}
.scrolldown span:nth-child(2){
    transform: translate(0,0);
    animation-delay: -.2s;
}
.scrolldown span:nth-child(3){
    transform: translate(15px,15px);
    animation-delay: 0;
}
@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0;
        left: 0;
        opacity: 1;
    }
    50%,100%{
        top: 5px;
        left: 5px;
        opacity: 0;
    }
}
h4{
    margin-top: 2em;
    color: #737777;
    font-weight: 400;
    font-size: 12px;
}
.module{
    display: block;
    border-color: none;
    align-content: center;
    box-sizing: content-box;
    margin: 0 10% 2em 10%;
    border-radius: 10px;
    height: auto;
    z-index: 5;
    padding-bottom: 20px;
    animation: trans2y 1.5s ease;
}

.whitehead{
    padding-left: 15%;
    padding-bottom: .4em;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    color:#ffffff ;
    text-transform: uppercase;
    animation: transx 1s ease-out;
}
h3{
    color: #119998;
    text-align: left;
    padding-left: 10%;
    padding-right: 15%;
    padding-top: 10%;
    padding-bottom: 0;
    margin:0;
    animation: transx 1s ease-out;
}
.desc{
    margin: 1em;
    height: unset;
}
.course-outer{
    position: relative;
    width: 100%;
    margin-top: 6em;
    padding-bottom: 5em;
    background: #00A4D2;
    align-content: center;
    height: auto;
}
.abt-us{
    margin-top: 20px;
}
.skew::before{
    position: absolute;
    top: -8em;
    content: '';
    width: 50%;
    height: 10em;
    left: 0;
    background: #00A4D2;
    transform: skewY(10deg);
    z-index: -2;
    display: block;
}
.skew::after{
    position: absolute;
    top: -8em;
    content: '';
    width: 50%;
    height: 10em;
    right: 0;
    background: #00A4D2;
    transform: skewY(-10deg);
    z-index: -2;
    display: block;
}
.revskew::before{
    position: absolute;
    content: '';
    width: 50%;
    height: 10em;
    bottom: -.8em;
    left: 0;
    background: #00A4D2;
    transform: skewY(-10deg);
    z-index: -2;
    display: block;
}
.revskew::after{
    position: absolute;
    content: '';
    width: 50%;
    height: 10em;
    bottom: -.8em;
    right: 0;
    background: #00A4D2;
    transform: skewY(10deg);
    z-index: -2;
    display: block;
}

#advd{
    margin-top:40px;
    
}

.gallery{
    position: relative;
    padding-bottom: 56.25%;
    height: 0px;
    object-fit: fill;
}
.gallery iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    max-width: 650px;
}
input[type=submit] {
    align-self: center;
    text-transform: uppercase;
    color: rgb(0, 164, 210);
    font-weight: 600;
    font-size: 1em;
    border-radius: 4px;
    border-style: solid;
    border-color: white;
    padding: .8em;
    text-decoration: none;
    background: none;
    color: #fff;
}  
input[type=submit]:hover {
    border-color: rgb(243, 241, 122);
    background:none;
}

@media only screen and (max-width:768px) and (min-width: 416px){

    .skew::before{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 10em;
        left: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .skew::after{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 10em;
        right: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    .revskew::before{
        position: absolute;
        content: '';
        width: 50%;
        height: 10em;
        bottom: -.8em;
        left: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    .revskew::after{
        position: absolute;
        content: '';
        width: 50%;
        height: 10em;
        bottom: -.8em;
        right: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .slider{
        margin-top: 60px;
    }
   
}

@media only screen and (max-width:996px) and (min-width: 769px){
    

    .skew::before{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        left: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .skew::after{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        right: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    .revskew::before{
        display: none;
    }
    .revskew::after{
        display: none;
    }
    #ad{
        margin-top: 100px;
    }
    .gallery{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 10%;
    }
    
   
}

@media only screen and (max-width:996px) and (min-width: 769px){
    

    .skew::before{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        left: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .skew::after{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        right: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    .revskew::before{
        display: none;
    }
    .revskew::after{
        display: none;
    }
    #ad{
        margin-top: 100px;
    }
    .gallery{
        display: block;
        max-width: 100%;
        height: auto;
        margin: 10%;
    }
    .slider{
        display: flex;
        position: relative;
        min-height: 400px;
        right: 0;
        align-items: center;
    }
    
    .slidetext{
        flex: 1;
        padding-left: 6%;
        order: 0;
    }
    .slidetext h1{
        font-size: 56px;
        font-weight: 300;
        color: #019291;
        kerning: .4em;
        text-align: left;
    }
    .slidetext p{
        font-size: 18px;
        text-align: left;
    }
    .slidepic{
        flex: 1;
        order: 1;
        align-items: top !important; 
        margin: 0 !important;
        right: 0 !important;
        max-width: 50% !important;
    }
    .cta{
        margin-top: 30px;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .cta-button{
        display: inline-block;
        margin-top: 10px;
        /*text-align: center;*/
        text-transform: uppercase;
        color: rgb(0, 164, 210);
        font-weight: 600;
        font-size: 26px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(0, 164, 210);
        padding: .1em 2em;
        text-decoration: none; 
        background: none;
        cursor: pointer;
    }
   
}


@media only screen and (min-width: 997px) and (max-width: 1030px){
    
    #menubar{
        z-index: 999;
    }
    .burger{
        display: none;
    }
    nav{
        float: right;
        z-index: 2;
        top: 5px;
    }
    ul{
        position: absolute;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 2;        
        right: 25px;
        vertical-align: middle;
    }
    ul li{
        display: inline-block;
    }
    ul li a{
        vertical-align: bottom;
        color: #474747;
        font-size: 14px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 35px;
    }
    
    h1{
        padding-left: 0;
        margin-bottom: 0;
        padding-bottom: 0;
        text-align: left;
        z-index: 2;
        font-size: 65px;
        font-weight: 300;
    }
    .slider{
        display: flex;
        position: relative;
        min-height: 650px;
        right: 0;
        align-items: center;
    }
    
    .slidetext{
        flex: 1;
        padding-left: 6%;
        order: 0;
    }
    .slidetext h1{
        font-size: 70px;
        font-weight: 300;
        color: #019291;
        kerning: .4em;
        text-align: left;
    }
    .slidetext p{
        font-size: 18px;
        text-align: left;
    }
    .slidepic{
        flex: 1;
        order: 1;
        align-items: top !important; 
        margin: 0 !important;
        right: 0 !important;
        max-width: 50% !important;
    }
    .cta{
        margin-top: 30px;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .cta-button{
        display: inline-block;
        margin-top: 10px;
        /*text-align: center;*/
        text-transform: uppercase;
        color: rgb(0, 164, 210);
        font-weight: 600;
        font-size: 26px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(0, 164, 210);
        padding: .1em 2em;
        text-decoration: none; 
        background: none;
        cursor: pointer;
    }
    
    #scrolldown{
        align-content: left;
        flex: .6;
    }
    #modules{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width:100%;
        margin: 10px;
        z-index: 2;
        min-height: 300px;
    }
    #module{
        height: auto;
        
    }
    #course-container{
        align-content: center;
        min-height: 500px;
    }
    .skew::before{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        left: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .skew::after{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        right: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    #ad{
        margin: 200px 0px;
        max-width: 800px;
    }
    #advd{
        display: block;
        text-align: center;
    }
    .gallery{
        text-align: center;
        display: block;
        width: 80%;
        height: auto;
        margin: 20px;
        margin-left: 10%;
        margin-right: 15%;
        
        text-align: center;
    }
    #logo{
        padding-left: 45px;
    }
}



@media only screen and (min-width: 1030px){
    
    #menubar{
        z-index: 999;
    }
    .burger{
        display: none;
    }
    nav{
        float: right;
        z-index: 2;
        top: 5px;
    }
    ul{
        position: absolute;
        display: inline-block;
        list-style-type: none;
        margin: 0;
        padding: 0;
        z-index: 2;        
        right: 25px;
        vertical-align: middle;
    }
    ul li{
        display: inline-block;
    }
    ul li a{
        vertical-align: bottom;
        color: #474747;
        font-size: 14px;
        padding-left: 0;
        padding-bottom: 0;
        padding-top: 35px;
    }
    ul li a:hover{
        color: #666666;
    }
    .slider{
        display: flex;
        position: relative;
        min-height: 650px;
        right: 0;
        align-items: center;
    }
    
    .slidetext{
        flex: 1;
        padding-left: 6%;
        order: 0;
    }
    .slidetext h1{
        font-size: 70px;
        font-weight: 300;
        color: #019291;
        kerning: .4em;
        text-align: left;
    }
    .slidetext p{
        font-size: 18px;
        text-align: left;
    }
    .slidepic{
        flex: 1;
        order: 1;
        align-items: top !important; 
        margin: 0 !important;
        right: 0 !important;
        max-width: 50% !important;
    }
    .cta{
        margin-top: 30px;
        margin: 0;
        padding: 0;
        text-align: left;
    }
    .cta-button{
        display: inline-block;
        margin-top: 10px;
        /*text-align: center;*/
        text-transform: uppercase;
        color: rgb(0, 164, 210);
        font-weight: 600;
        font-size: 26px;
        border-radius: 10px;
        border-style: solid;
        border-color: rgb(0, 164, 210);
        padding: .1em 2em;
        text-decoration: none; 
        background: none;
        cursor: pointer;
    }
    
    #scrolldown{
        align-content: left;
        flex: .6;
    }
    #modules{
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        width:100%;
        margin: 10px;
        z-index: 2;
        min-height: 300px;
    }
    #module{
        height: auto;
        
    }
    #course-container{
        align-content: center;
        min-height: 500px;
    }
    .skew::before{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        left: 0;
        background: #00A4D2;
        transform: skewY(10deg);
        z-index: -2;
        display: block;
    }
    .skew::after{
        position: absolute;
        top: -8em;
        content: '';
        width: 50%;
        height: 15em;
        right: 0;
        background: #00A4D2;
        transform: skewY(-10deg);
        z-index: -2;
        display: block;
    }
    #ad{
        margin: 200px 0px;
        max-width: 800px;
    }
    #advd{
        display: block;
        text-align: center;
    }
    .gallery{
        text-align: center;
        display: block;
        width: 80%;
        height: auto;
        margin: 20px;
        margin-left: 10%;
        margin-right: 15%;
        
        text-align: center;
    }
    #logo{
        padding-left: 45px;
    }
}
